#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.short-url {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  background-color: #f9f9f9;
}
.short-url p {
  font-size: 18px;
  margin-top: 5px;
}